

<header id="header_wrapper">
  <div class="container">
    <div class="header_box">
      <div class="logo"><a href="#"><img src="../assets/img/logo.png" alt="logo"></a></div>
	  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
	    <div id="main-nav" class="collapse navbar-collapse navStyle">
			<ul class="nav navbar-nav" id="mainNav">
		<li class="active"><a routerLink="Home" routerLinkActive="Home" class="scroll-link">Home</a></li>
			  <li><a routerLink="About" class="scroll-link">About Us</a></li>
        <li><a routerLink="Service" class="scroll-link">Service</a></li>
			  <li><a routerLink="Portfolio" class="scroll-link">Portfolio</a></li>
        <li><a routerLink="Client" class="scroll-link">Client</a></li>
        <li><a routerLink="Contact" class="scroll-link">Contact</a></li>
			</ul>
      </div>
	 </nav>
    </div>
  </div>
</header>

