<div class="container main_wapper">
    <div class="row">
        <div class="col-lg-2 bx">
            <div class="sidebar-section">
                <p><img src="assets/img/logo.png"></p>
                <div class="menu-list">
                    <ul>
                    <li><a routerLink="" routerLinkActive="Home"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>Dashboard</a></li>
                    <li><a routerLink="classx" class="scroll-link"><span><i class="fa fa-file" aria-hidden="true"></i></span>Classes</a></li>
                    <li><a routerLink="res" class="scroll-link"><span><i class="fa fa-archive" aria-hidden="true"></i></span>Resources</a></li>
                    <li><a routerLink="Learning Plan" class="scroll-link"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Learning Plan</a></li>
                    <span class="count">5</span>
                    <li><a routerLink="Chat" class="scroll-link"><span><i class="fa fa-comments" aria-hidden="true"></i></span>Chat</a></li>
                    <li><a routerLink="Settings" class="scroll-link"><span><i class="fa fa-cog" aria-hidden="true"></i></span>Settings</a></li>
                    </ul>
                </div>
                <div class="upgrade">  
                    <img src="assets/img/upgrade.png">
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="side-toggle">
                <span><i class="fa fa-bars" aria-hidden="true"></i></span>
            </div>
            <div class="middle-header">
                <h3>Dashboard</h3>
                <p class="txt">20 Sept, 2019 Friday</p>
                <div class="search">
                   
                    <p><i class="fa fa-search" aria-hidden="true"></i></p>
                </div>
            </div>
            <div class="middle-banner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-text">
                        <h2>Welcome Back To Anna!</h2>
                        <p>You've learned <b>80%</b> of your goal this week! keep it up and improve your results!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-text">
                            <img src="assets/img/clip.png">
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
        <div class="col-lg-3">
            <div class="profile-section">
                <h3>Logout</h3>
                <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <div class="profile-pic">
                    <div class="circle">
                        <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                 
                      </div>
                     
                      <div class="p-image">
                        <i class="fa fa-camera upload-button"></i>
                         <input class="file-upload" type="file" accept="image/*"/>
                      </div>
                     <div class="profile-name">
                      <h3>Anna Morrsion</h3>
                      <p>Student</p>
                      </div>
                     
                </div>

                <ul class="profile-list-lang">
                    <li><span class="alph" style="padding-top: 6px;">B2</span>
                    <span class="alph2" style="background-color: #fff!important; font-weight: 600;">English</span><br><span class="alph1" style="background:#fff!important; top: 5px!important;">High intermidiate</span>
                    <div class="progress" style="left:80px;">
                        <div class="progress-bar progress-bar-info" style="width: 100%;"></div>
                        
                      </div>
                    </li>

                    <li><span class="alph" style="padding-top: 6px;">C1</span>
                        <span class="alph2" style="background-color: #fff!important; font-weight: 600;">Spanish</span><br><span class="alph1" style="background:#fff!important; top: 5px!important;">Advanced</span>
                        <div class="progress" style="left:120px;">
                            <div class="progress-bar progress-bar-info" style="width: 100%;"></div>
                            
                          </div>
                        </li>
                </ul>
                <div class="reminder">
                <h3>Reminder</h3>
                <span><img src="assets/img/notif.png"></span>

                <ul class="profile-list-lang">
                    <li class="pro-lan"><span class="alph" style="padding-top: 6px; background: #fef2f3!important;"><i class="fa fa-info-circle" style="color:#ff808b;" aria-hidden="true"></i></span>
                    <span class="alph2" style="background-color: #fff!important; font-weight: 600;">Eng-Vocabulary test</span><br><span class="alph1" style="background:#fff!important; top: 13px!important;">24 sept 2019, Friday</span>
                    
                    </li>

                    <li class="pro-lan"><span class="alph" style="padding-top: 6px;"><i class="fa fa-envelope" style="color:#5e81f4;" aria-hidden="true"></i></span>
                        <span class="alph2" style="background-color: #fff!important; font-weight: 600;">Eng- Send grammar homework</span><br><span class="alph1" style="background:#fff!important; top: 13px!important;">29 sept 2019, Wednasday</span>
                        
                        </li>

                        <li class="pro-lan"><span class="alph" style="padding-top: 6px;"><i class="fa fa-envelope" style="color:#5e81f4;" aria-hidden="true"></i></span>
                            <span class="alph2" style="background-color: #fff!important; font-weight: 600;">Spanish- Send essey</span><br><span class="alph1" style="background:#fff!important; top: 13px!important;">05 oct 2019 Monday</span>
                            
                            </li>
                </ul>
                </div>
               
            </div>
        </div>
    </div>
</div>
